<%- include("./partials/header"); %>

<%- include("./partials/preloader"); %>

  <body>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container position-relative text-center text-lg-center" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
          <div class="col-lg-12">
            <h1>Welcome to <span>Fish Fried Fresh</span></h1>
            <h2>High quality food truck with a see through deli and fresh fish on ice daily!</h2>

            <div class="btns">
              <a href="#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
              <a href="#" class="btn-place-order animated fadeInUp">Place Order</a>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">

          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
              <div class="about-img">
                <img data-src="/img/fish/food-truck-1.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>About Fish Fried Fresh.</h3>
              <p class="font-italic">
                Stuff stuff food food.
              </p>
              <ul>
                <li><i class="bi-check2-circle"></i> Taste good food.</li>
                <li><i class="bi-check2-circle"></i> Look food good.</li>
                <li><i class="bi-check2-circle"></i> Everything is fresh and made in the morning daily.</li>
              </ul>
              <p>
                We are dedicated to making the best food.
              </p>
            </div>
          </div>

        </div>
      </section><!-- End About Section -->

      <!-- ======= Why Us Section ======= -->
      <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Why Us</h2>
            <p>Why you should choose us</p>
          </div>

          <div class="row">

            <div class="col-lg-4">
              <div class="box" data-aos="zoom-in" data-aos-delay="100">
                <span>01</span>
                <h4>Lorem Ipsum</h4>
                <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
              </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="box" data-aos="zoom-in" data-aos-delay="200">
                <span>02</span>
                <h4>Repellat Nihil</h4>
                <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para
                  dest</p>
              </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="box" data-aos="zoom-in" data-aos-delay="300">
                <span>03</span>
                <h4> Ad ad velit qui</h4>
                <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Why Us Section -->

      <!-- ======= Menu Section ======= -->
      <section id="menu" class="menu section-bg">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Menu</h2>
            <p>Check Our Tasty Menu</p>
          </div>

          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="menu-filters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-starters">Starters</li>
                <li data-filter=".filter-salads">Salads</li>
                <li data-filter=".filter-specialty">Specialty</li>
              </ul>
            </div>
          </div>

          <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-6 menu-item filter-starters">
              <img data-src="/img/fish/fried-catfish.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Fried Catfish</a><span>$9.25</span>
              </div>
              <div class="menu-description">
                Crispy fresh catfish fried in bread crumbs and our southern spice mix
              </div>
            </div>

            <div class="col-lg-6 menu-item filter-specialty">
              <img data-src="/img/fish/fried-perch.png" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Fried Perch</a><span>$8.95</span>
              </div>
              <div class="menu-description">
                Crispy fresh perch fried in bread crumbs and our special seasoning
              </div>
            </div>

            <div class="col-lg-6 menu-item filter-starters">
              <img data-src="/img/fish/buffalo-burger.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Buffalo Burger</a><span>$8.95</span>
              </div>
              <div class="menu-description">
                A delicious meaty burger of a Buffalo
              </div>
            </div>

            <div class="col-lg-6 menu-item filter-salads">
              <img data-src="/img/fish/wings.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Wings</a><span>$7.95</span>
              </div>
              <div class="menu-description">
                Chicken wings fried and coated in our special zesty sauce
              </div>
            </div>

            <div class="col-lg-6 menu-item filter-specialty">
              <img data-src="/img/fish/fries.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Fries</a><span>$2.00</span>
              </div>
              <div class="menu-description">
                Fresh crispy fried potato fries
              </div>
            </div>

            <div class="col-lg-6 menu-item filter-starters">
              <img data-src="/img/fish/baked-mac.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Baked Mac &amp; Cheese</a><span>$2.00</span>
              </div>
              <div class="menu-description">
                Creamy baked mac and cheese
              </div>
            </div>

            <div class="col-lg-6 menu-item filter-salads">
              <img data-src="/img/fish/collard-greens.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Mustard Collard Greens</a><span>$2.00</span>
              </div>
              <div class="menu-description">
                Fresh collard greens cooked
              </div>
            </div>

            <div class="col-lg-6 menu-item filter-salads">
              <img data-src="/img/fish/cabbage.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Flavored Cabbage</a><span>$2.00</span>
              </div>
              <div class="menu-description">
                Flavored cabbage
              </div>
            </div>

            <div class="col-lg-6 menu-item filter-specialty">
              <img data-src="/img/fish/candy-yams.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Candy Yams</a><span>$2.00</span>
              </div>
              <div class="menu-description">
                Sweet candy yams
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Menu Section -->

      <!-- ======= Specials Section ======= -->
      <section id="specials" class="specials">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Specials</h2>
            <p>Check Our Specials</p>
          </div>

          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-3">
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                  <a class="nav-link active show" data-toggle="tab" href="#tab-1">Modi sit est</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-2">Unde praesentium sed</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-3">Pariatur explicabo vel</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-4">Nostrum qui quasi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-5">Iusto ut expedita aut</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
              <div class="tab-content">
                <div class="tab-pane active show" id="tab-1">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Architecto ut aperiam autem id</h3>
                      <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata
                        raqer a videna mareta paulona marka</p>
                      <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa
                        odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni
                        nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img data-src="/img/specials-1.png" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-2">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Et blanditiis nemo veritatis excepturi</h3>
                      <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata
                        raqer a videna mareta paulona marka</p>
                      <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt
                        est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt
                        eaque
                        beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img data-src="/img/specials-2.png" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-3">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                      <p class="font-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui
                        natus
                        non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                      <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque
                        necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio.
                        Earum
                        odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img data-src="/img/specials-3.png" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-4">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                      <p class="font-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro
                        quis
                        delectus</p>
                      <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus
                        aliquam
                        fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi
                        asperiores
                        sed qui veritatis aperiam quia a laborum inventore</p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img data-src="/img/specials-4.png" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-5">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                      <p class="font-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                      <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut
                        quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae
                        molestiae voluptate vel</p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img data-src="/img/specials-5.png" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section><!-- End Specials Section -->

      <!-- ======= Events Section ======= -->
      <section id="events" class="events">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Events</h2>
            <p>Organize Your Events in our Restaurant</p>
          </div>

          <div class="owl-carousel" data-aos="fade-up" data-aos-delay="100">

            <div class="row owl-slide">
              <div class="col-lg-6">
                <img data-src="/img/event-birthday.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Birthday Parties</h3>
                <div class="price">
                  <p><span>$189</span></p>
                </div>
                <p class="font-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </li>
                  <li><i class="bi-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
                  </li>
                  <li><i class="bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </li>
                </ul>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur
                </p>
              </div>
            </div>

            <div class="row owl-slide">
              <div class="col-lg-6">
                <img data-src="/img/event-private.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Private Parties</h3>
                <div class="price">
                  <p><span>$290</span></p>
                </div>
                <p class="font-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </li>
                  <li><i class="bi-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
                  </li>
                  <li><i class="bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </li>
                </ul>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur
                </p>
              </div>
            </div>

            <div class="row owl-slide">
              <div class="col-lg-6">
                <img data-src="/img/event-custom.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Custom Parties</h3>
                <div class="price">
                  <p><span>$99</span></p>
                </div>
                <p class="font-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </li>
                  <li><i class="bi-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
                  </li>
                  <li><i class="bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </li>
                </ul>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur
                </p>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Events Section -->

      <!-- ======= Gallery Section ======= -->
      <section id="gallery" class="gallery">

        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Gallery</h2>
            <p>Some photos from our Food Truck</p>
          </div>
        </div>

        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

          <div class="row no-gutters">

            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="/img/gallery/gallery-1.jpg" class="venobox" data-gall="gallery-item">
                  <img data-src="/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="/img/gallery/gallery-2.jpg" class="venobox" data-gall="gallery-item">
                  <img data-src="/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="/img/gallery/gallery-3.jpg" class="venobox" data-gall="gallery-item">
                  <img data-src="/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="/img/gallery/gallery-4.jpg" class="venobox" data-gall="gallery-item">
                  <img data-src="/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="/img/gallery/gallery-5.jpg" class="venobox" data-gall="gallery-item">
                  <img data-src="/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="/img/gallery/gallery-6.jpg" class="venobox" data-gall="gallery-item">
                  <img data-src="/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="/img/gallery/gallery-7.jpg" class="venobox" data-gall="gallery-item">
                  <img data-src="/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="/img/gallery/gallery-8.jpg" class="venobox" data-gall="gallery-item">
                  <img data-src="/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Gallery Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Us</p>
          </div>
        </div>

        <!-- iframe for google maps of location -->
        <div data-aos="fade-up">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43035.70921225037!2d-122.32949760000001!3d47.611904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490151f4ed5b7f9%3A0xdb2ba8689ed0920d!2sSpace%20Needle!5e0!3m2!1sen!2sus!4v1639848200254!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="container" data-aos="fade-up">
          <div class="row mt-5">
            <div class="col-lg-4">
              <div class="info">
                <div class="address">
                  <i class="bi-pin-map-fill"></i>
                  <h4>Location:</h4>
                  <p>A108 Adam Street, New York, NY 535022</p>
                </div>

                <div class="open-hours">
                  <i class="bi-clock"></i>
                  <h4>Open Hours:</h4>
                  <p>
                    Monday-Saturday:<br>
                    11:00 AM - 8:00 PM
                  </p>
                </div>

                <div class="email">
                  <i class="bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@example.com</p>
                </div>

                <div class="phone">
                  <i class="bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+1 360-123-4567</p>
                </div>

              </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

              <form action="/contact" method="POST" role="form" class="email-form">
                <div class="form-row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                      data-msg="Please enter at least 4 chars" />
                    <div class="validate"></div>
                  </div>
                  <div class="col-md-6 form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                      data-msg="Please enter a valid email" />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                    data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="8" data-msg="Please write something for us"
                    placeholder="Message"></textarea>
                  <div class="validate"></div>
                </div>
                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>

            </div>

          </div>

        </div>
      </section><!-- End Contact Section -->

      <!-- ======= Place an Order Section ======= -->
      <section id="place-order" class="place-order">
        <div class="container">

          <button type="button" class="place-order-close"><i class="bi-close"></i></button>
          <div class="section-title">
            <h2>Order</h2>
            <p>Place an order</p>
          </div>

          <form action="/order" method="POST" role="form" class="order-form" data-aos="fade-up" data-aos-delay="100">
            <div class="form-row">
              <div class="col-lg-4 col-md-6 form-group">
                <input type="text" class="form-control" name="name" id="name" placeholder="Your Name">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6 form-group">
                <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6 form-group">
                <input type="time" class="form-control" name="time" id="time" placeholder="Time" value="11:00">
                <div class="validate"></div>
              </div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your order request was sent. We will call back or send an Email to confirm your
                reservation. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit" class="btn-submit">Place Order</button></div>
            <input type="hidden" name="_csrf" content="{{csrfToken}}">
          </form>

        </div>

      </section>
      <!-- End Place an Order Section -->
      <div class="place-order-overlay"></div>
    </main><!-- End #main -->

    <%- include("./partials/footer"); %>

    <%- include("./partials/backToTop"); %>

    <%- include("./partials/scripts"); %>

  </body>